<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>Read_more</title>
    <link rel="stylesheet" href="{% static "css/about_us_css.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>***Our Brand Story***</h1>
  <hr width="50%" align="center"/></br></br>
<p>
    STC (Student Teacher Conciliator) is basically an interface between<br>
    Students and Teachers to communicate. STC system will help Teachers</br>
    to easily  assign  the assignmentand  Notes as well as generate the</br>
    Academic notifications  And Student to easily  access the assignment </br>
    and notes and they Can complain as well as they can give their feedback.</br>
</p><br>
<h1 text-align="left">***Who we Are..?***</h1>
<p>
    We are an team who work for reducing time to complete any work and to make any work online<br>
    our goal is to make the world digilize to save their time as well as effort.<br>
    We work for to provide services in less ammount of time comparitively others<br>

</p></br></br>
<h1>About Developers</h1></br>
  <div class="container">
    <div class="card">
      <div class="img">
        <img src="{% static "images/Vedant.jpg" %}">
      </div>
      <div class="top-text">
        <div class="name">Vedant Singh</div>
        <p>FrontEnd Developer</p>
      </div>
      <div class="bottom-text">
        <div class="text">Vedant is the good frontend develper. He completed traning from Hydarabad and gatting job in Banglore</div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{% static "images/Pooja.jpeg" %}">
      </div>
      <div class="top-text">
        <div class="name">Pooja Yadav</div>
        <p>FrontEnd Developer</p>
      </div>
      <div class="bottom-text">
        <div class="text">Pooja is the good frontend develper. she completed traning from Hydarabad on UI and Python</div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{% static "images/Priyanka.jpeg" %}">
      </div>
      <div class="top-text">
        <div class="name">Priyanka Patel</div>
        <p>FrontEnd Developer</p>
      </div>
      <div class="bottom-text">
        <div class="text">Priyanka is the good frontend developer. She completed traning from Hydarabad on UI and Python</div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{% static "images/Kishan.jpg" %}">
      </div>
      <div class="top-text">
        <div class="name">Kishan Singh</div>
        <p>BackEnd Developer</p>
      </div>
      <div class="bottom-text">
        <div class="text">Kishan is a BackEnd Developer and he also play a Team Leader role in the project. He completed Python and Django traning from Hydarabad. He also good in Java, C, MySQL and Git and many more things.</div>
      </div>
    </div>

  </div>
</body>
</html>
