<!doctype html>
{% load staticfiles %}
<html>
<head>
  <title>teachers login</title>
  <link rel="stylesheet" href="{% static "css/login_css.css"%}">
  <style>
    body{
      {% load static %}
   background:url('{% static 'images/water.jpg' %}');
    }
  </style>
</head>
<body>
  <div class="login-page">
  <div class="form">
    <center><h1 style ="font-size: 36px;font-family: "Roboto", sans-serif;">Teachers Login</h1></center>
    <form class="login-form" method="POST">
      {% csrf_token %}
      <input type="number" placeholder="user id" name="user"/>
      <input type="password" placeholder="password" name="password"/>
      <div class="K">
      <input type="submit" value="LOGIN"/>
      </div>
      <p class="message">Not registered? <a href="/Tech_reg/">Create an account</a></p>
      {% for message in messages %}
      <p style="color:red;">{{ message }}</p>
      {% endfor%}
    </form>
  </div>
</div>
</body>
</html>
